@media (min-width: 901px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 1fr 70% 1fr;
        grid-template-areas: "header header header"
                             "main   main   main"
                             "footer footer footer";
    
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto 150px;
        border-bottom: rgb(255, 0, 0) solid 2px;
    }
    h1  {
        text-transform: uppercase;
    }
    h3  {
        text-transform: capitalize;
    }
    a {
        text-align: center;
        color: lightgray;
        text-decoration: none;
        width: 2em;
    }
    a img {
        width:100%;
    }
}